﻿@model Blackjack.ViewModels.GameViews.DetailsGameView
@using Blackjack.ViewModels.GameViews

@{
    ViewBag.Title = "Game results";
}

<h2>Game results</h2>
<div>
    <hr />
    <table class="table table-bordered">
        <tr>
            <td> @Html.DisplayNameFor(model => model.Name)</td>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <td> @Html.DisplayNameFor(model => model.CreationDate)</td>
            <td>@Html.DisplayFor(model => model.CreationDate)</td>
        </tr>
    </table>
</div>
<div>
    <table class="table table-bordered">
        <tr>
            <td>@Html.DisplayNameFor(model => model.Dealer)</td>
            <td>@Html.DisplayNameFor(model => model.Dealer.Points)</td>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.Dealer.Name)</td>
            <td>@Html.DisplayFor(model => model.Dealer.Points)</td>
        </tr>
    </table>
</div>
<div>
    <table class="table table-bordered">
        <tr>
            <td>Player</td>
            <td>Playres points</td>
            <td>Players result</td>
        </tr>
        @foreach (GamePlayerDetailsGameViewItem gp in Model.Players)
        {
            <tr>
                <td>@gp.Name</td>
                <td>@gp.Points</td>
                <td>@gp.Result</td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Back to games history", "History")
</p>
