﻿@model Blackjack.ViewModels.GameViews.HistoryGameView

@{
    ViewBag.Title = "Games history";
}

<h2>Games history</h2>
<p>
    @Html.ActionLink("Start new game", "Start")
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Game
            </th>
            <th>
                Dealer
            </th>
            <th>
                Player
            </th>
            <th>Creation date</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model.Games)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.DealerName
            </td>
            <td>
                @item.PlayerName
            </td>
            <td>
                @item.CreationDate
            </td>
            <td>
                @Html.ActionLink("Look game's results", "Details", new { id = item.Id })
            </td>
        </tr>
    }
</table>
<br />