﻿@model Blackjack.ViewModels.GameViews.PlayGameView
@using Blackjack.ViewModels.GameViews

@{
    ViewBag.Title = "Play";
}

<h2>Play</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

    </dl>
</div>
<div>
    @using (Html.BeginForm("More", "Game", new { gameId = Model.Id }))
    {
        <input type="submit" value="More" class="btn btn-default btn-block" />
    }
    @using (Html.BeginForm("Enough", "Game", new { gameId = Model.Id }))
    {
        <input type="submit" value="Enough" class="btn btn-default btn-block" />
    }
</div>
<div>
    <table class="table table-bordered">
        <tr>
            <td>@Html.DisplayNameFor(model => model.Dealer)</td>
            <td>@Html.DisplayNameFor(model => model.Dealer.Points)</td>
        </tr>
        <tr>
            <td>@Model.Dealer.Name</td>
            <td>@Model.Dealer.Points</td>
        </tr>
    </table>
</div>
<div>
    <table class="table table-bordered">

        <tr>
            <td>Player</td>
            <td>Players points </td>
            <td>Game result</td>
        </tr>
        @foreach (GamePlayerPlayGameViewItem player in Model.Players)
        {
            <tr>
                <td>@player.Name</td>
                <td>@player.Points</td>
                <td>@player.Result</td>
            </tr>
        }
    </table>
</div>
@section Scripts {
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/bundles/jqueryval")
}


