﻿@model Blackjack.ViewModels.GameViews.StartGameView

@{
    ViewBag.Title = "Start";
}

<h2>Start new game</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="Dealers" class="control-label col-md-2">Enter dealer</label>
            <div class="col-md-10">
                <input id="Dealers" name="DealerId" class="k-list-scroller" />
            </div>
        </div>

        <div class="form-group">
            <label for="Players" class="control-label col-md-2">Enter player</label>
            <div class="col-md-10">
                <input id="Players" name="PlayerId" class="k-list-scroller" />
            </div>
        </div>

        <div class="form-group">
            <label for="NewPlayerName" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input id="NewPlayerName" name="NewPlayerName" type="hidden" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BotsNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BotsNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BotsNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Start game" class="btn btn-default" />
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to games history", "History")
</div>

@section Scripts {
    <script src="~/Scripts/Game/templateLoader.js"></script>
    <script>
        templateLoader.loadExtTemplate("Templates/AddNewItemTemplate.tmpl.htm");
    </script>
    <script src="~/Scripts/Game/Start.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}
