<h2>Play game</h2>
<div>
  <dl class="dl-horizontal">
    <dt>Game</dt>
    <dd>{{data.name}}</dd>
    <dt>Created</dt>
    <dd>{{data.creationDate| date:'medium'}}</dd>
  </dl>
</div>
<div>
  <button (click)="more()" class="btn btn-default">More</button>
  <button (click)="enough()" class="btn btn-default">Enough</button>
</div>
<div>
  <table class="table">
    <tr>
      <td>Dealer</td>
      <td>Dealer's points</td>
    </tr>
    <tr>
      <td>{{data.dealer.name}}</td>
      <td>{{data.dealer.points}}</td>
    </tr>
  </table>
</div>
<div>
  <table class="table table-bordered">
    <tr>
      <td>Player</td>
      <td>Player's points</td>
      <td>Player's result</td>
    </tr>
    <tr *ngFor="let player of data.players">
      <td>{{player.name}}</td>
      <td>{{player.points}}</td>
      <td>{{player.result}}</td>
    </tr>
  </table>
</div>
